<h2>Consulta veterinária cancelada</h2>

<p>Olá, {{veterinario_nome}}.</p>

<p>Uma consulta foi cancelada:</p>

<ul>
  <li>Data e hora: {{data_consulta}}</li>
  <li>Animal: {{animal_nome}}</li>
</ul>

{{#if observacao}}
<p>Observação registrada: {{observacao}}</p>
{{/if}}
