<h2>Recibo de Doação</h2>

<p>Olá, {{doador_nome}}.</p>

<p>A Sociedade Protetora dos Animais Abandonados (Protege Pet) agradece imensamente a sua colaboração.</p>

<p><strong>Detalhes do Recebimento:</strong></p>
<ul>
  <li><strong>Tipo de Doação:</strong> {{tipo_doacao}}</li>
  <li><strong>Detalhe:</strong> {{detalhe_doacao}}</li>
</ul>

<p>Com a sua ajuda, podemos continuar protegendo nossos animais e garantindo um futuro melhor para eles.</p>

<p>Se você tiver alguma dúvida, por favor, entre em contato conosco.</p>
