PORT=3000
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=senha_segura
DB_NAME=protegepet

RESEND_API_KEY=
EMAIL_FROM=

CORS_ORIGIN=http://localhost:5173
FRONTEND_URL=http://localhost:5173
JWT_SECRET=sua_chave_secreta_aqui
COOKIE_NAME=protegepet_token
